

<div class="container">
<h1>Recent Projects</h1>


  <div class="cards">
    <div class="subscribe">
     <div class="card-category" style="background-image: /*linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), */url(<%= image_path "airbnb.png"%>) " id="first">
     </div>
      <div id="second"><a href="/pages/air-bnb-project-pics"><strong>Airbnb clone</strong></a></div>
    </div>

    <div class="subscribe">
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" id="first">
     Recycling app</div>
      <div id="second"><a href="http://www.recyclable.rocks/" target="_blank"><strong>check it out <span class="span-secret-div">here</span></strong></a></div>
    </div>

    <div class="subscribe">
     <div class="card-category" style="background-image: url(<%= image_path "weather-app.png"%>)" id="first">
      </div>
      <div id="second"><a href="https://weather-app-247.herokuapp.com/" target="_blank"><strong>Weather web app</strong></a></div>
    </div>


    <div class="subscribe">
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" id="first">
     Longest-word-game</div>
      <div id="second"><a href="https://longest-word-game-247.herokuapp.com/" target="_blank"><strong>check it out <span class="span-secret-div">here</span></strong></a></div>
    </div>



    <div class="subscribe">
     <div class="card-category" style="background-image: url(<%= image_path "film-search.png"%>)" id="first">
      </div>
      <div id="second"><a href="https://film-search-247.herokuapp.com/" target="_blank"><strong>film-search app</strong></a></div>
    </div>


    <div class="subscribe">
     <div class="card-category" style="background-image: url(<%= image_path "procbloc.png"%>)" id="first">
      </div>
      <div id="second"><a href="#"><strong>Property Search project</strong></a></div>
    </div>

  </div>




 <%= link_to root_path do %>
    <i class="hvr-grow fas fa-arrow-left"></i>
 <% end %>
</div>
